/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0; }

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent; }

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder; }

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%; }

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none; }

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible; }

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none; }

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline; }

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto; }

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block; }

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item; }

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none; }

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none; }

/* for responsive design */
html,
body {
  padding: 0;
  height: 100%;
  font-size: 1rem;
  font-family: "abril-display";
  font-weight: lighter; }

body {
  background-color: #272725;
  color: #f4f4f4;
  width: 100%;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  position: relative;
  display: inline-block;
  text-decoration: none; }
  a::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #f4f4f4;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  a:hover::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1); }

#main {
  height: 100%;
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s; }

/* font awesome */
.fab {
  font-size: 1.2em; }

.p-relative {
  position: relative; }

#home,
#about,
#project1,
#project2,
#project3,
#contact {
  padding-top: 6rem; }

.section {
  text-align: left;
  font-size: 100%;
  position: relative; }

#menu li {
  display: inline-block;
  margin: 4px;
  color: #fff;
  background: #fff;
  background: rgba(7, 7, 7, 0.5);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#menu li.active {
  background: #666;
  background: black;
  color: #fff; }

#menu li a {
  text-decoration: none;
  color: #000; }

#menu li.active a:hover {
  color: #000; }

#menu li:hover {
  background: rgba(255, 255, 255, 0.8); }

#menu li a,
#menu li.active a {
  padding: 2px 11px;
  display: block; }

#menu li.active a {
  color: #fff; }

#menu {
  position: absolute;
  top: 45%;
  right: -20%;
  height: 4%;
  z-index: 3;
  width: 50%;
  text-align: center;
  padding: 0;
  margin: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.header_fullpage {
  background: #fedc3d;
  z-index: 99;
  position: fixed;
  height: 11vh;
  width: 100%;
  color: black; }

.fp-viewing-top .header_fullpage {
  background: #fedc3d; }

.fp-viewing-about-me .header_fullpage {
  background: #01abaa; }

.fp-viewing-granma .header_fullpage {
  background: #fea680; }

.fp-viewing-dulce .header_fullpage {
  background: #57bc90; }

.fp-viewing-wp .header_fullpage {
  background: #f7882f; }

.fp-viewing-getInTouch .header_fullpage {
  background: #ffffff; }

.fp-scroller {
  height: 100%; }

.container {
  height: 100%;
  padding-top: 2%; }

.sidenav {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #272725;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1rem; }
  .sidenav .cancel {
    position: absolute;
    top: 6.5%;
    left: 88%;
    font-size: 2.5rem;
    opacity: 0.6;
    cursor: pointer; }
  .sidenav a {
    padding: 0px;
    font-size: 2.5rem;
    color: #bebebe;
    display: block;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .sidenav:hover {
    color: #f4f4f4; }

.sidebar_menus {
  width: 17%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .sidebar_menus .sidebar_a:hover::after {
    -webkit-transform: scale(1.5, 1);
    -ms-transform: scale(1.5, 1);
    transform: scale(1.5, 1); }
  .sidebar_menus .sidebar_a::after {
    position: absolute;
    bottom: -8px;
    left: 0px;
    content: "";
    width: 35%;
    height: 2px;
    background: #f4f4f4;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
  .sidebar_menus .sidebar_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .sidebar_menus .sidebar_menu + .sidebar_menu {
    margin-top: 2.5rem; }
  .sidebar_menus .sidebar_menu_num {
    display: inline-block;
    padding: 0; }
  .sidebar_menus .num_rotate {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 0.7rem;
    margin: 0px; }
  .sidebar_menus .sidebar_title {
    margin: 0px;
    padding-bottom: 6px;
    font-size: 2.5rem; }
  .sidebar_menus .sidebar_description {
    text-align: left;
    margin: 0px;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Francois One", sans-serif; }

.header_container {
  height: 140px;
  padding: 0;
  left: 0;
  width: 100%;
  color: black; }
  .header_container nav {
    padding: 2%;
    padding-bottom: 1%; }
  .header_container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style-type: none; }
  .header_container .top_page {
    margin-right: auto; }
  .header_container .header_logo {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    font-size: 2.5rem; }
  .header_container .to_sidenav {
    -ms-flex-item-align: center;
    align-self: center; }
  .header_container .pc {
    display: block !important; }
    @media (max-width: 599px) {
      .header_container .pc {
        display: none !important; } }
  .header_container .to_sidenav + .to_sidenav {
    margin-left: 18px; }
  .header_container .logo_a {
    width: 150px; }
    .header_container .logo_a img {
      width: 100%; }
  .header_container a {
    width: 50px;
    text-decoration: none; }
    .header_container a::after {
      height: 0; }
    .header_container a:hover div {
      width: 50px; }
    .header_container a .one {
      width: 50px;
      height: 6px;
      background-color: black;
      border-radius: 24px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .header_container a .two {
      width: 40px;
      margin: 9px 0px;
      height: 6px;
      background-color: black;
      border-radius: 24px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .header_container a .three {
      width: 30px;
      height: 6px;
      background-color: black;
      border-radius: 24px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .header_container .header_menu {
    font-family: "Francois One", sans-serif;
    font-size: 2.5rem; }

.top_page {
  margin-right: auto; }

.top_page_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .top_page_section .name ul {
    font-size: 7rem;
    color: black;
    font-family: "Francois One", sans-serif;
    font-weight: bold; }
  .top_page_section .name li {
    opacity: 0;
    -webkit-animation: slide-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
@-webkit-keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.animations {
  width: 50%;
  position: relative; }
  .animations .hide_rectangle {
    background-color: #fedc3d;
    position: absolute;
    width: 100%;
    height: 62%;
    top: 40%; }

.rotate-anime {
  -webkit-animation: rotate-anime 8s linear infinite;
  animation: rotate-anime 8s linear infinite;
  position: absolute;
  top: -10vh;
  left: -16vw; }

@-webkit-keyframes rotate-anime {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate-anime {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.waves {
  position: absolute;
  width: 93%;
  top: 40%;
  -webkit-animation: float 2s linear infinite;
  animation: float 2s linear infinite;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px); }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
.title-wrap,
.between-name-and-skills,
.skills {
  margin-top: 100%;
  -webkit-transition: all 1.5s ease-in;
  -o-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in; }

.fp-viewing-about-me .title-wrap,
.fp-viewing-about-me .between-name-and-skills,
.fp-viewing-about-me .skills {
  margin-top: 0; }

.pos-a-t-l {
  position: absolute;
  top: 0;
  left: 0; }

.full-size {
  width: 100%;
  height: 100%; }

.fp-viewing-about-me .wrapper {
  background-color: #01abaa;
  -webkit-transition: 3.8s cubic-bezier(0.52, 0.01, 0.16, 1) 3.35s;
  -o-transition: 3.8s cubic-bezier(0.52, 0.01, 0.16, 1) 3.35s;
  transition: 3.8s cubic-bezier(0.52, 0.01, 0.16, 1) 3.35s; }

.fp-viewing-about-me .home-bg {
  -webkit-transition: 3.25s cubic-bezier(0.52, 0.01, 0.16, 1);
  -o-transition: 3.25s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: 3.25s cubic-bezier(0.52, 0.01, 0.16, 1); }

.fp-viewing-about-me .home-bg li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: -webkit-transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  -o-transition: transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1), -webkit-transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw); }

.home-vid-mask-wrap {
  z-index: 6; }

.blend-multiply {
  mix-blend-mode: multiply; }

.fp-viewing-about-me .home-bg li:not(.home-front-bg) {
  z-index: 5; }

.fp-viewing-about-me .home-bg li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: -webkit-transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  -o-transition: transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1), -webkit-transform 3.75s cubic-bezier(0.52, 0.01, 0.16, 1);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw); }

.fp-viewing-about-me .js-yt-player {
  opacity: 1;
  pointer-events: none;
  -webkit-transition: 3.15s linear;
  -o-transition: 3.15s linear;
  transition: 3.15s linear; }

.fp-viewing-about-me .yt-player {
  position: absolute;
  top: 7.3%;
  left: 0%;
  width: 100%;
  height: 80%;
  -webkit-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15); }

.desktop-only {
  display: block; }

iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial; }

.home-video-mask {
  background-color: #fff; }

.blend-screen {
  mix-blend-mode: screen; }

.fp-viewing-about-me .home-video-mask .letters li {
  width: 0%;
  height: 0%;
  -webkit-transition: 3.55s cubic-bezier(0.52, 0.01, 0.16, 1);
  -o-transition: 3.55s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: 3.55s cubic-bezier(0.52, 0.01, 0.16, 1); }

.fp-viewing-about-me .home-video-mask .letters,
.fp-viewing-about-me .home-front-experience-wrap {
  width: 40vw;
  height: 44vw;
  margin: -17vw 0 0 -22.2vw;
  left: 38%; }

.fp-viewing-about-me .pos-a-center {
  position: absolute;
  left: 50%;
  top: 42%; }

.fp-viewing-about-me
.home-video-mask
.letters[data-active-letter="n"]
ul.letter-n {
  pointer-events: auto; }

.fp-viewing-about-me .home-video-mask .letters ul {
  pointer-events: none; }

.fp-viewing-about-me .home-video-mask .letter-n li:nth-child(1) {
  left: 0;
  top: 0;
  -webkit-transform: skew(40deg);
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
  position: absolute;
  background-color: #272725;
  width: 17.5vw;
  height: 35vh; }

.fp-viewing-about-me .home-video-mask .letter-n li:nth-child(2) {
  left: 17.3vw;
  -webkit-transform: skew(-40deg);
  -moz-transform: skew(-40deg);
  -o-transform: skew(-40deg);
  position: absolute;
  background-color: #272725;
  width: 17.5vw;
  height: 35vh; }

.fp-viewing-about-me .home-video-mask .letter-n li:nth-child(3) {
  top: 34vh;
  left: 8.7vw;
  position: absolute;
  background-color: #272725;
  width: 17.8vw;
  height: 40vh; }

.home-video-mask .letters li {
  width: 0%;
  height: 0%;
  -webkit-transition: 3.55s cubic-bezier(0.52, 0.01, 0.16, 1);
  -o-transition: 3.55s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: 3.55s cubic-bezier(0.52, 0.01, 0.16, 1); }

.fp-viewing-about-me
.home-video-mask
.letters[data-active-letter="n"]
ul.letter-n
li:nth-child(1)::before {
  -webkit-transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.2s;
  -o-transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.2s;
  transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.2s; }

.fp-viewing-about-me
.home-video-mask
.letters[data-active-letter="n"]
ul.letter-n
li:nth-child(2)::before {
  -webkit-transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.45s;
  -o-transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.45s;
  transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.45s; }

.fp-viewing-about-me
.home-video-mask
.letters[data-active-letter="n"]
ul.letter-n
li::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }

.fp-viewing-about-me .home-video-mask .letters li:nth-child(2)::before {
  -webkit-transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3.05s;
  -o-transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3.05s;
  transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3.05s; }

.fp-viewing-about-me .home-video-mask .letter-n li:nth-child(2)::before {
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }

.fp-viewing-about-me
.home-video-mask
.letters[data-active-letter="n"]
ul.letter-n
li:nth-child(3)::before {
  -webkit-transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.7s;
  -o-transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.7s;
  transition: 3.65s cubic-bezier(0.52, 0.01, 0.16, 1) 3.7s; }

.fp-viewing-about-me .home-video-mask .letters li:nth-child(3)::before {
  -webkit-transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3.1s;
  -o-transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3.1s;
  transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3.1s; }

.fp-viewing-about-me .home-video-mask .letter-n li:nth-child(3)::before {
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1); }

.fp-viewing-about-me .home-video-mask .letters li:nth-child(1)::before {
  -webkit-transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3s;
  -o-transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3s;
  transition: 3.31s cubic-bezier(0.52, 0.01, 0.16, 1) 3s; }

.fp-viewing-about-me .home-video-mask .letter-n li:nth-child(1)::before {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%; }

.fp-viewing-about-me .home-video-mask .letters li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-backface-visibility: hidden; }

.home .type-wrap {
  text-align: right;
  right: 18%;
  left: auto;
  width: 24%; }

.type-wrap {
  left: 59%;
  width: 30%;
  height: 100%;
  z-index: 10; }

.flex-vert-center {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  margin-top: -0.5%; }

.home .type-wrap .title-wrap {
  width: 160%;
  margin-left: -70%; }

.type-wrap .flex-vert-center > *:not(.clickable) {
  pointer-events: none; }

.overflow-animate-wrap {
  overflow: hidden;
  padding-left: 10%;
  margin-left: -10%; }

.title {
  margin-bottom: 1rem;
  height: 13%; }
  .title p {
    margin: 0;
    letter-spacing: 4px; }
  .title h2 {
    font-size: 4.5vw;
    margin: 0;
    position: absolute;
    top: 13%;
    left: 0;
    width: 100%; }

.between-name-and-skills {
  margin-bottom: 8rem; }
  .between-name-and-skills h6 {
    margin: 0;
    width: 80%;
    margin-left: auto;
    font-size: 1.2rem; }

.skills h3 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 4px; }
.skills p {
  margin: 0;
  font-size: 1.3rem; }

.overflow-animate-wrap:nth-child(1) > * {
  -webkit-transition-delay: 0s; }

.type-wrap .flex-vert-center > *:not(.clickable) {
  pointer-events: none; }

.home .type-wrap h6 {
  width: 90%;
  float: right; }

.overflow-animate-wrap:nth-child(2) > * {
  -webkit-transition-delay: 0.12s;
  -o-transition-delay: 0.12s;
  transition-delay: 0.12s; }

.home .type-wrap .js-all-work {
  display: none; }

.home .type-wrap .cta {
  float: right; }

.overflow-animate-wrap:nth-child(3) > * {
  -webkit-transition-delay: 0.24s;
  -o-transition-delay: 0.24s;
  transition-delay: 0.24s; }

.cta.white-cta {
  background-color: #f2f2f2;
  color: #27282e; }

.cta.cta-full {
  border: 3px solid #f2f2f2;
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden; }

.white-text a,
.white-text p,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6,
.white-text li {
  color: #f2f2f2; }

.overflow-animate-wrap > * {
  -webkit-transition: 0.65s cubic-bezier(0.62, 0.02, 0.34, 1);
  -o-transition: 0.65s cubic-bezier(0.62, 0.02, 0.34, 1);
  transition: 0.65s cubic-bezier(0.62, 0.02, 0.34, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  display: block; }

.open-case {
  margin-top: 20px; }

.cta {
  text-transform: uppercase;
  font-size: 0.55em;
  font-weight: 900;
  letter-spacing: 0.26em;
  line-height: 1.3em;
  padding: 20px;
  color: #fff;
  width: initial;
  white-space: nowrap;
  text-align: center; }

.blood_pressure {
  width: 69%;
  height: 80%;
  position: absolute;
  top: 0%;
  left: 7%;
  background-image: url(../img/bloodpressure.jpg);
  background-size: cover; }

.dulce_vicio {
  width: 69%;
  height: 80%;
  position: absolute;
  top: 0%;
  left: 7%;
  background-image: url(../img/dulce_vicio.jpg);
  background-size: cover; }

.blog_project {
  width: 69%;
  height: 80%;
  position: absolute;
  top: 0%;
  left: 7%;
  background-image: url(../img/blog.jpg);
  background-size: cover; }

.fp-viewing-wp .slide-right3,
.fp-viewing-dulce .slide-right2,
.fp-viewing-granma .slide-right {
  -webkit-animation: slide-right 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
  animation: slide-right 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) both; }

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
.fp-viewing-wp .slide-left3,
.fp-viewing-dulce .slide-left2,
.fp-viewing-granma .slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000%);
    transform: translateX(1000%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(1000%);
    transform: translateX(1000%); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.smaller_rectangle {
  background-color: #f4f4f4;
  position: absolute;
  bottom: 0;
  top: 17%;
  right: 7%;
  width: 27%;
  height: 77%; }
  .smaller_rectangle:hover {
    -webkit-filter: brightness(58%);
    filter: brightness(58%); }
  .smaller_rectangle .title_div {
    padding: 33px 0 0 33px; }
  .smaller_rectangle p {
    font-family: "Playfair Display", serif;
    color: black;
    letter-spacing: 0.5em;
    font-size: 10px;
    margin-bottom: 0px; }
  .smaller_rectangle h3 {
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 38px;
    font-family: "Francois One", sans-serif;
    letter-spacing: 0.2em;
    color: black; }
  .smaller_rectangle .main_tech {
    padding: 33px 0 9px 33px; }
  .smaller_rectangle ul {
    font-size: 22px;
    font-family: "Francois One", sans-serif;
    letter-spacing: 0.2em;
    color: black; }
  .smaller_rectangle a {
    width: 91%;
    position: absolute;
    bottom: 13%;
    padding-left: 9%; }
    .smaller_rectangle a::after {
      height: 0; }
  .smaller_rectangle .horizontal {
    padding-left: 10%;
    -webkit-animation: horizontal_6973 2.72s ease infinite;
    animation: horizontal_6973 2.72s ease infinite;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
@-webkit-keyframes horizontal_6973 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  4.41177% {
    -webkit-transform: translate(35px, 0);
    transform: translate(35px, 0); }
  8.82353% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  13.23529% {
    -webkit-transform: translate(35px, 0);
    transform: translate(35px, 0); }
  17.64706% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  22.05882% {
    -webkit-transform: translate(35px, 0);
    transform: translate(35px, 0); }
  26.47059% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
@keyframes horizontal_6973 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  4.41177% {
    -webkit-transform: translate(35px, 0);
    transform: translate(35px, 0); }
  8.82353% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  13.23529% {
    -webkit-transform: translate(35px, 0);
    transform: translate(35px, 0); }
  17.64706% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  22.05882% {
    -webkit-transform: translate(35px, 0);
    transform: translate(35px, 0); }
  26.47059% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }
  .smaller_rectangle .fas {
    font-size: 2rem;
    color: black; }
  .smaller_rectangle .circle {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding-top: 3%; }

.view_site_btn {
  background-color: #f4f4f4;
  border-top: 1px solid #272725;
  border-bottom: 1px solid #272725;
  border-left: none;
  border-right: none;
  color: #272725;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 65%;
  font-family: "Francois One", sans-serif; }
  .view_site_btn:hover {
    opacity: 1; }

.pbg {
  background-color: white !important; }

.project-sidenav {
  -ms-flex-item-align: center !important;
  align-self: center !important; }

.project1_header {
  background-color: #fea680;
  color: white; }

.project2_header {
  background-color: #57bc90;
  color: white; }

.project3_header {
  background-color: #f7882f;
  color: white; }

.project1_detail_top {
  background-color: #fea680;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "abril-display"; }

.project2_header {
  background-color: #57bc90;
  color: white; }

.project2_detail_top {
  background-color: #57bc90;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "abril-display"; }

.project3_header {
  background-color: #f7882f;
  color: white; }

.project3_detail_top {
  background-color: #f7882f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "abril-display"; }

.left_fixed {
  position: fixed;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 100; }
  .left_fixed h1 {
    width: 70%;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 4px; }
  .left_fixed p {
    text-align: right;
    margin: 0;
    width: 70%; }
  .left_fixed button {
    background-color: transparent;
    width: 70%;
    border: 1px solid white;
    padding: 1%;
    font-family: "Francois One", sans-serif;
    color: white; }
  .left_fixed a {
    color: white; }
    .left_fixed a::after {
      height: 0; }
    .left_fixed a:hover {
      color: white;
      opacity: 0.8;
      text-decoration: none; }

.right_description {
  width: 60%;
  margin-left: auto;
  margin-right: 10%;
  padding-top: 5%; }
  .right_description p {
    font-size: 1.2rem; }
  .right_description .top_image {
    height: 80vh; }
  .right_description img {
    width: 100%;
    opacity: 0.3; }

.first_dscrip {
  width: 55%;
  margin-left: auto;
  margin-bottom: 10%; }
  .first_dscrip h2 {
    margin-bottom: 5%; }
  .first_dscrip h2.delighter,
  .first_dscrip p.delighter {
    -webkit-transform: translatey(50%);
    -ms-transform: translatey(50%);
    transform: translatey(50%);
    opacity: 0;
    -webkit-transition: all 0.55s ease-out;
    -o-transition: all 0.55s ease-out;
    transition: all 0.55s ease-out; }
  .first_dscrip h2.delighter.started,
  .first_dscrip p.delighter.started {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1; }

.second_pic {
  width: 80%;
  margin-left: auto;
  margin-bottom: 10%; }
  .second_pic .right.delighter {
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
    opacity: 0;
    -webkit-transition: all 0.75s ease-out;
    -o-transition: all 0.75s ease-out;
    transition: all 0.75s ease-out; }
  .second_pic .right.delighter.started {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 0.3; }

.other_dscrip {
  width: 55%;
  margin-left: auto;
  margin-bottom: 10%; }
  .other_dscrip p.delighter {
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
    opacity: 0;
    -webkit-transition: all 0.55s ease-out;
    -o-transition: all 0.55s ease-out;
    transition: all 0.55s ease-out; }
  .other_dscrip p.delighter.started {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1; }

.color_dark {
  color: black; }

.contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.contact_left {
  width: 30%;
  position: relative;
  margin-right: 1em;
  color: black; }
  .contact_left .centralize_vertical {
    position: absolute;
    top: 10%; }
  .contact_left h1 {
    font-size: 4.5rem;
    letter-spacing: 4px;
    margin-bottom: 1%;
    margin-top: 0px;
    font-weight: lighter; }
  .contact_left .contact_details {
    font-size: 2rem;
    margin-bottom: 10%; }
  .contact_left .buttons {
    width: 100%;
    margin-bottom: 3%; }
  .contact_left p {
    font-family: "abril-display";
    font-size: 0.8em;
    margin: 0; }
  .contact_left button {
    width: 100%;
    background-color: white;
    border-top: 1px solid #272725;
    border-bottom: 1px solid #272725;
    border-left: none;
    border-right: none;
    color: black;
    padding: 16px 32px;
    font-family: "Francois One", sans-serif;
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; }
    .contact_left button:hover {
      background-color: black;
      color: white;
      opacity: 0.8; }
    .contact_left button:focus {
      background-color: black;
      color: white;
      opacity: 0.6; }
  .contact_left a {
    width: 100%; }
    .contact_left a::after {
      height: 0; }
  .contact_left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contact_left li {
    font-size: 1.5rem; }
  .contact_left li + li {
    margin-left: 3%; }

.user_info {
  width: 100%; }

.contact_form {
  padding: 5%;
  border: 2px solid #f4f4f4;
  background-color: #565652;
  height: 75%; }

.send_btn {
  float: right;
  margin-top: 5%;
  width: 30%;
  height: 10%; }

.contact_right {
  width: 40%; }
  .contact_right .helper {
    display: inline-block;
    height: 15%;
    vertical-align: middle; }
  .contact_right img {
    width: 100%;
    opacity: 0.6;
    vertical-align: middle; }

#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  background-color: #fedc3d; }

.loader {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  @media (min-width: 1200px) {
    .loader {
      width: 30%; } }

.loading {
  height: 100%;
  position: relative;
  z-index: 2; }
  .loading .sun {
    position: absolute;
    top: 33.5vh;
    left: 0; }
    @media (max-width: 599px) {
      .loading .sun {
        position: absolute;
        top: 33.5vh;
        left: 0; } }
  .loading .slide-fwd-center {
    -webkit-animation: slide-fwd-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
    animation: slide-fwd-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both; }
@-webkit-keyframes slide-fwd-center {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
@keyframes slide-fwd-center {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); } }
  .loading .orange {
    position: absolute;
    top: 36.5vh;
    left: 3vw; }
    @media (min-width: 1200px) {
      .loading .orange {
        position: absolute;
        top: 36.5vh;
        left: 2vw; } }
    @media (max-width: 599px) {
      .loading .orange {
        position: absolute;
        top: 36.5vh;
        left: 4vw; } }
  .loading .hide_rect {
    background-color: #fedc3d;
    width: 45vw;
    height: 14%;
    position: absolute;
    top: 50vh;
    left: 2vw; }
    @media (min-width: 1200px) {
      .loading .hide_rect {
        width: 35vw;
        left: 0; } }
    @media (max-width: 599px) {
      .loading .hide_rect {
        width: 80%;
        position: absolute;
        top: 50vh;
        left: 11vw; } }



/*# sourceMappingURL=styles.css.map */