/* font-family: 'Abril Fatface', cursive;
font-family: 'Francois One', sans-serif;
font-family: 'abril-display'
*/

/* basic css */

html,
body {
  padding: 0;
  height: 100%;
  font-size: 20px;
  font-family: "Abril Fatface", cursive;
  font-weight: lighter;
}

body {
  background-color: #272725;
  color: #f4f4f4;
  width: 100%;
  transition: background-color 0.5s;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #f4f4f4;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

a:hover::after {
  transform: scale(1, 1);
}

.without_underbar::after {
  height: 0;
}

.centralize {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main {
  height: 100%;
  transition: margin-left 0.5s;
}

/* for responsive design */
.pc {
  display: block !important;
}

.tab {
  display: none !important;
}

.mb {
  display: none !important;
}

@media (max-width: 960px) {
  .tab {
    display: initial !important;
  }
}

@media (max-width: 740px) {
  .brk_point1-1 {
    display: initial !important;
  }

  .brk {
    display: none;
  }
}

@media (max-width: 480px) {
  .pc {
    display: none !important;
  }

  .brk_point1-1 {
    display: initial !important;
  }

  .mb {
    display: initial !important;
  }
}

/* header css */
.header_container {
  padding: 0.5em;
  padding-top: 1.2em;

  padding-left: 2%;
  padding-right: 2%;
  left: 0;
  width: 96%;
}

.header_logo {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  font-size: 2.5em;
}

@media (max-width: 480px) {
  .sidebar_menus {
    width: 28% !important;
  }
  .header_logo {
    display: none;
  }

  .mb {
    margin-right: 1em;
  }

  .top_page_section {
    display: block;
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .contact_p {
    width: 76%;
  }

  .contact_title {
    font-size: 4.5em;
  }
}

.header_menu {
  font-family: "Francois One", sans-serif;
  font-size: 1.2em;
}

header ul {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
}

.nav div {
  height: 6px;
  background-color: #fff;
  border-radius: 24px;
  transition: 0.3s;
}

.nav {
  width: 50px;
}

.one {
  width: 50px;
}

.two {
  width: 40px;
  margin: 9px 0px;
}

.three {
  width: 30px;
}

.nav:hover div {
  width: 50px;
}

/* sidebar css */

.sidebar_a::after {
  position: absolute;
  bottom: -8px;
  left: 0px;
  content: "";
  width: 35%;
  height: 2px;
  background: #f4f4f4;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}

.sidebar_a:hover::after {
  transform: scale(1.5, 1);
}

.sidenav {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #141414;
  overflow-x: hidden;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.sidenav a {
  padding: 0px;
  text-decoration: none;
  font-size: 25px;
  color: #bebebe;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f4f4f4;
}

.cancel {
  position: absolute;
  top: 6.5%;
  left: 88%;
  font-size: 2.5em;
  opacity: 0.6;
  cursor: pointer;
}

.sidebar_menus {
  width: 13%;
}

@media (max-width: 480px) {
  .sidebar_menus {
    width: 28%;
  }

  .sidenav ul {
    display: flex;
    margin-top: 1.5em;
    position: absolute;
    bottom: 10%;
    width: 50%;
    left: 26%;
  }
}

@media (max-height: 450px) {
  .sidenav a {
    font-size: 18px;
  }
}

.sidebar_menu {
  display: flex;
}

.sidebar_menu + .sidebar_menu {
  margin-top: 1.2em;
}

.sidebar_menu_num {
  display: inline-block;
  padding: 0px 0px 0px 5px;
}

.num_rotate {
  transform: rotate(270deg);
  font-size: 10px;
  margin: 0px;
}

.center_bar {
  margin: 15px 0px 0px 0px;
}

.sidebar_title {
  margin: 0px;
  padding-bottom: 6px;
  font-size: 40px;
}

.sidebar_description {
  text-align: left;
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Francois One", sans-serif;
}

/* font awesome */
.fab {
  font-size: 1.2em;
}

.to_sidenav {
  align-self: flex-end;
}

.to_sidenav + .to_sidenav {
  margin-left: 18px;
}

/* index.html */
.container {
  padding: 5rem;
}

.top_page {
  margin-right: auto;
}

.top_page_section {
  display: flex;
  position: relative;
  height: 100%;
}

.main_section {
  width: 100%;
  text-align: center;
}

.typewrite {
  font-size: 100px;
}

/* about.html */

.title_top {
  margin-left: -1.9em;
  line-height: 0.8em;
}

@media screen and (min-width: 1211px) and (max-width: 1380px) {
  .title_top {
    margin-left: -2.1em;
    font-size: 3em !important;
  }
}

@media screen and (min-width: 741px) and(max-width: 1210px) {
  .title_top {
    font-size: 3em !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 740px) {
  .about_introduce {
    font-size: 0.8em !important;
  }

  .about_section {
    display: initial !important;
  }

  .title_top {
    margin-left: -1em;
    letter-spacing: 0px !important;
    text-align: right !important;
  }

  .about_left {
    margin: 0 !important;
    width: 100% !important;
  }

  .about_me {
    margin-bottom: 1em !important;
  }

  .mb_intro {
    margin-top: 1.8em !important;
  }
}

@media (max-width: 480px) {
  .about_introduce {
    font-size: 0.5em !important;
  }

  .about_section {
    display: initial !important;
  }

  .title_top {
    margin-left: -0.8em;
    letter-spacing: 0px !important;
    text-align: right !important;
  }

  .about_left {
    margin: 0 !important;
    width: 100% !important;
  }

  .about_me {
    margin-bottom: 0.8em !important;
    width: 41%;
    position: absolute;
    top: 20%;
    right: 0;
  }

  .mb_intro {
    margin-top: 1.2em !important;
  }

  .about_right {
    text-align: right;
    position: initial;
  }

  .my_info {
    display: flex;
  }
}

@media (max-width: 960px) {
  .dis_none {
    display: none;
  }
}

@media (max-width: 850px) {
  .title_bottom {
    font-size: 1em !important;
  }
}

/* .y1 {
  display: none;
} */

.y1 {
  /* display: inline-block; */
  position: absolute;
  /* -webkit-clip-path: polygon(0 0, 30% 0, 60% 50%, 30% 50%); */
  clip-path: polygon(0 0, 30% 0, 60% 50%, 30% 50%);
  transition: clip-path 1s linear;
}

.y2 {
  position: absolute;
  /* -webkit-clip-path: polygon(70% 0, 100% 0, 60% 50%, 30% 50%); */
  clip-path: polygon(70% 0, 100% 0, 60% 50%, 30% 50%);
  transition: clip-path 1s linear;
}

.y3 {
  position: absolute;
  /* -webkit-clip-path: polygon(30% 50%, 60% 50%, 60% 100%, 30% 100%); */
  clip-path: polygon(30% 50%, 60% 50%, 60% 100%, 30% 100%);
  transition: clip-path 1s linear;
}

/* project.html */
.bigger_rectangle {
  background-color: yellow;
  width: 72%;
  height: 85%;
}

.dulce_vicio {
  background-image: url(../img/dulce_vicio.jpg);
  background-size: cover;
}

.blood_pressure {
  background-image: url(../img/bloodpressure.jpg);
  background-size: cover;
}

.blog_project {
  background-image: url(../img/blog.jpg);
  background-size: cover;
}
.smaller_rectangle {
  background-color: white;
  position: absolute;
  top: 35%;
  left: 60%;
  right: 0;
  bottom: 0;
  height: 53%;
  width: 29%;
}

.title_div {
  padding: 33px 0 0 33px;
}

.main_tech {
  padding: 33px 0 9px 33px;
}

.title_p,
.tech_p {
  font-family: "Playfair Display", serif;
  color: black;
  letter-spacing: 0.5em;
  font-size: 10px;
  margin-bottom: 0px;
}

.project_name,
.tech_name {
  font-family: "Francois One", sans-serif;
  letter-spacing: 0.2em;
  color: black;
}

.project_name {
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 38px;
}

.tech_name {
  font-size: 22px;
}

.view_site_btn {
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.5;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-left: 32px;
  position: absolute;
  bottom: 13%;
}

.view_site_btn:hover {
  opacity: 1;
}

@media (max-width: 740px) {
  .bigger_rectangle {
    width: 100% !important;
  }

  .smaller_rectangle {
    left: 0 !important;
    top: 45% !important;
    width: 100% !important;
  }

  .view_site_btn {
    margin-top: 8% !important;
  }
}

@media (max-width: 480px) {
}

/* contact.html */

.contact_section {
  display: flex;
  width: 100%;
}

.contact_container {
  display: flex;
}

.contact_left,
.contact_right {
  width: 50%;
}

.contact_left {
  position: relative;
}

.contact_title {
  position: absolute;
  top: 20%;
  z-index: 3;
}

.contact_img {
  opacity: 0.5;
  right: 0;
  width: 85%;
  position: absolute;
}

.comment {
  font-family: "abril-display";
  font-size: 0.8em;
  margin: 10% 0;
}
.contact_left {
  position: relative;
  width: 50%;
  margin-right: 1em;
}

.contact_right {
  display: flex;
  padding-left: 5%;
}

.contact_details {
  position: absolute;
  margin: 5% 0;
  top: 50%;
  width: 100%;
}

.contact_details_ul {
  margin: 1em 0;
}

.user_info {
  width: 100%;
}

.contact_form {
  padding: 5%;
  border: 2px solid white;
  background-color: #565652;
  height: 75%;
}

.send_btn {
  float: right;
  margin-top: 5%;
  width: 30%;
  height: 10%;
}

.contact_right {
  flex: 1;
}

.toDL {
  background-color: #272725;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.input,
.message {
  border: none;
  border-bottom: 2px solid white;
  background-color: #565652;
}

.input {
  border-bottom: 2px solid white;
  height: 12%;
  width: 100%;
  margin-bottom: 3%;
}

input:focus {
  border: solid 1px #eea34a;
}

.message {
  border: 2px solid white;
  margin: 3% 0;
  height: 50%;
  width: 100%;
}

.icon {
  margin-top: 5%;
  margin-right: 5%;
  float: left;
}

@media (max-width: 480px) {
}
