.centralize {
    width: 100vw;
    height: 100vh;
    background: url("../img/contact.jpg") center;
    background-clip: text;
    color: transparent;
    background-position: 50% 60%;
    display: table;
}

.title_text {
    font-size: 14vw;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

.contact_form {
    position: absolute;
    top: 39vh;
    left: 22vw;
    background-color: $purple;
    width: 55vw;
    height: 31vw;
    color: black;
    background-image: url(../img/contact.png);
    background-size: cover;
}

.letter_top {
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    padding-left: 5vw;
    padding-top: 5vh;

    h5 {
        margin: 1% 0;
        font-size: 4rem;
    }

    p {
        font-size: 1.2rem;
        width: 30vw;
        letter-spacing: 2px;
        margin: 1% 0;
    }
}

.letter_bottom {
    position: absolute;
    top: 30vh;
    width: 100%;
    height: 40%;
    padding-left: 5vw;
    padding-top: 3vh;

    .over_hidden_btn {
        border: 2px solid black;
        background-color: $purple;
        width: 100%;
    }
}

.over_hidden {
    position: relative;
    overflow: hidden;
    @include without-underbar;
}

.slide_in {
    position: absolute;
    left: -5vw;
    background-color: white;
    border: 2px solid black;
    transition: all 0.3s ease-in;
}

.over_hidden:hover .slide_in {
    left: 0;
}
