.color_dark {
    color: black;
}

.contact_container {
    display: flex;
    justify-content: space-around;
}

// .contact_left,
// .contact_right {
//   width: 50%;
// }

.contact_left {
    width: 30%;
    position: relative;
    margin-right: 1em;
    color: black;

    .centralize_vertical {
        position: absolute;
        top: 10%;
    }

    h1 {
        @include title($fontLg);
    }

    .contact_details {
        font-size: 2rem;
        margin-bottom: 10%;
    }

    .buttons {
        width: 100%;
        margin-bottom: 3%;
    }
    p {
        font-family: "abril-display";
        font-size: 0.8em;
        margin: 0;
    }

    button {
        width: 100%;
        background-color: white;
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;
        border-left: none;
        border-right: none;
        color: black;
        padding: 16px 32px;
        font-family: $francois;
        text-align: center;
        font-size: 16px;
        opacity: 0.8;
        transition: 0.3s;
        display: inline-block;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background-color: black;
            color: white;
            opacity: 0.8;
        }

        &:focus {
            background-color: black;
            color: white;
            opacity: 0.6;
        }
    }

    a {
        width: 100%;
        @include without-underbar;
    }

    ul {
        display: flex;
    }

    li {
        font-size: 1.5rem;
    }

    li + li {
        margin-left: 3%;
    }
}

.user_info {
    width: 100%;
}

.contact_form {
    padding: 5%;
    border: 2px solid $white;
    background-color: $lighterGray;
    height: 75%;
}

.send_btn {
    float: right;
    margin-top: 5%;
    width: 30%;
    height: 10%;
}

.contact_right {
    width: 40%;

    .helper {
        display: inline-block;
        height: 15%;
        vertical-align: middle;
    }

    img {
        width: 100%;
        opacity: 0.6;
        vertical-align: middle;
    }
}

.test {
}
