#home,
#about,
#project1,
#project2,
#project3,
#contact {
    padding-top: 6rem;
}
.section {
    text-align: left;
    font-size: 100%;
    position: relative;
}

#menu li {
    display: inline-block;
    margin: 4px;
    color: #fff;
    background: #fff;
    background: rgba(7, 7, 7, 0.5);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: black;
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 2px 11px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: absolute;
    top: 45%;
    right: -20%;
    height: 4%;
    z-index: 3;
    width: 50%;
    text-align: center;
    padding: 0;
    margin: 0;
    transform: rotate(90deg);
}

.header_fullpage {
    background: #fedc3d;
    z-index: 99;
    position: fixed;
    height: 11vh;
    width: 100%;
    color: black;
}

.fp-viewing-top .header_fullpage {
    background: #fedc3d;
}

.fp-viewing-about-me .header_fullpage {
    background: #01abaa;
}

.fp-viewing-granma .header_fullpage {
    background: #fea680;
}

.fp-viewing-dulce .header_fullpage {
    background: #57bc90;
}

.fp-viewing-wp .header_fullpage {
    background: #f7882f;
}

.fp-viewing-getInTouch .header_fullpage {
    background: #ffffff;
}

.fp-scroller {
    height: 100%;
}

.container {
    height: 100%;
    // /* margin-top: 6%; */
}
