.header_container {
    height: 140px;
    padding: 0;
    left: 0;
    width: 100%;
    color: black;

    nav {
        padding: 2%;
        padding-bottom: 1%;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
    }

    .top_page {
        margin-right: auto;
    }

    .header_logo {
        cursor: pointer;
        display: inline-block;
        margin: 0;
        font-size: $fontMid;
    }

    .to_sidenav {
        align-self: center;
    }

    .to_sidenav + .to_sidenav {
        margin-left: 18px;
    }

    .logo_a {
        width: 150px;
        img {
            width: 100%;
        }
    }

    a {
        width: 50px;
        text-decoration: none;
        @include without-underbar;
        &:hover div {
            width: 50px;
        }

        .one {
            width: 50px;
            @include hamburger;
        }

        .two {
            width: 40px;
            margin: 9px 0px;
            @include hamburger;
        }

        .three {
            width: 30px;
            @include hamburger;
        }
    }

    .header_menu {
        font-family: $francois;
        font-size: $fontMid;
    }
}
