#loader-bg {
    display: none;
    position: fixed;
    width: 100%;
    // height: 100%;
    // top: 0px;
    // left: 0px;
    background-color: $yellow;
    // z-index: 1;
}

.loader {
    width: 40%;
    @include for-desktop-up {
        width: 30%;
    }
    @include centralize;
}

.loading {
    height: 100%;
    position: relative;
    z-index: 2;

    .sun {
        @include loading_img(33.5vh, 0);
        @include for-phone-only {
            @include loading_img(33.5vh, 0);
        }
    }

    .slide-fwd-center {
        -webkit-animation: slide-fwd-center 2.5s
            cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;
        animation: slide-fwd-center 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            infinite both;
    }

    @keyframes slide-fwd-center {
        0% {
            opacity: 0;
            transform: scale(0, 0);
        }
        100% {
            opacity: 1;
            transform: scale(1, 1);
        }
    }

    .orange {
        @include loading_img(36.5vh, 3vw);
        @include for-desktop-up {
            @include loading_img(36.5vh, 2vw);
        }
        @include for-phone-only {
            @include loading_img(36.5vh, 4vw);
        }
    }

    .hide_rect {
        background-color: $yellow;
        width: 45vw;
        height: 14%;
        @include for-desktop-up {
            width: 35vw;
            left: 0;
        }
        @include loading_img(50vh, 2vw);
        @include for-phone-only {
            width: 80%;
            @include loading_img(50vh, 11vw);
        }
    }
}
