.top_page {
    margin-right: auto;
}

.top_page_section {
    display: flex;
    height: 100%;
    justify-content: space-around;

    .name ul {
        font-size: 7rem;
        color: black;
        font-family: $francois;
        font-weight: bold;
    }

    .name li {
        opacity: 0;
        -webkit-animation: slide-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94)
            both;
        animation: slide-top 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

        @keyframes slide-top {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

// .main_section {
//     width: 100%;
//     color: black;
//     text-align: center;
//     @include centralize;
// }

// .typewrite {
//     font-size: 100px;
// }

.animations {
    width: 50%;
    position: relative;

    .hide_rectangle {
        background-color: #fedc3d;
        position: absolute;
        width: 100%;
        height: 62%;
        top: 40%;
    }
}

.rotate-anime {
    animation: rotate-anime 8s linear infinite;
    position: absolute;
    top: -10vh;
    left: -16vw;
}
@keyframes rotate-anime {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.waves {
    position: absolute;
    width: 93%;
    top: 40%;
    animation: float 2s linear infinite;
    transform-origin: 50% 50%;

    @keyframes float {
        0% {
            transform: translateY(0);
        }
        25% {
            transform: translateY(-8px);
        }
        50% {
            transform: translateY(5px);
        }
        100% {
            transform: translateY(0);
        }
    }
}
