// Font Style
$abril: "abril-display";
$francois: "Francois One", sans-serif;
$fontBasic: 1rem;
$fontSmal: 0.7rem;
$fontMid: 2.5rem;
$fontLg: 4.5rem;

//Color
$dark: #272725;
$white: #f4f4f4;
$gray: #bebebe;
$lighterGray: #565652;
$smarkPink: #fea680;
$yellow: #fedc3d;
$lightBlue: #01abaa;
$lightgreen: #57bc90;
$orange: #f7882f;
