// Font Style
$abril: "abril-display";
$francois: "Francois One", sans-serif;
$fontBasic: 1rem;
$fontSmal: 0.7rem;
$fontMid: 2.5rem;
$fontLg: 4.5rem;

//Color
$dark: #272725;
$white: #f4f4f4;
$gray: #bebebe;
$lighterGray: #565652;
